*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

p{
    text-align: center;
    margin: 0 3rem;
    color: #C4C4C4;
}

img.male-inactive{
    border: solid #FF9678 2px;
    border-radius: 0.3rem;
    width: 9rem;
    padding: 1rem;
}

img.female-inactive{
    border: solid #FF9678 2px;
    border-radius: 0.3rem;
    width: 9rem;
    padding: 1rem;
}

img.unicorn-inactive{
    border: solid #FF9678 2px;
    border-radius: 0.3rem;
    width: 9rem;
    padding: 1rem;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

form{
    margin: 0 3rem;
    text-align: center;
}

a:link, a:visited {
    color: blue;
}

input[type=submit] {
    background-color: #8A2BE1;
    border-radius: 0.3rem;
    width: 80%;
    color: white;
    padding: 0.6rem;
    border: none;
    cursor: pointer;
}

a.wachtwoordVergeten{
    text-align: center;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: smaller;
}

.create-account-span{
    width: 100%;
}

.create-account-a{
    text-decoration: none;
}

.create-account{
    text-align: center;
    position: relative;
    top: 3rem;
}

.invoer-veld{
    width: 80%;
    position: relative;
    height: 50px;
    margin: 2rem auto;
    overflow: hidden; /*Alles dat buiten het element staat wordt niet weergeven, dit is voor de lijn aan de onderkant*/
}

.invoer-veld input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
}

.invoer-veld .labelAnimation{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none; /* zo staat de label niet voor de input*/
    border-bottom: 1px solid black;
}

/*After kan niet worden gebruikt op de input, omdat je hier geen content aan kan toevoegen*/
.invoer-veld .labelAnimation::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blueviolet;
    width: 0%;
    transition: all 0.3s ease;
}

.spanAnimation{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

/*Elke keer wanneer je focust op de input wordt deze stijl toegepast aan label dankzij de +*/
.invoer-veld input:focus + .labelAnimation .spanAnimation, .invoer-veld input:valid + .labelAnimation .spanAnimation, .invoer-veld input:invalid + .labelAnimation .spanAnimation{
    transform: translateY(-150%);
    font-size: 14px;
    color: blueviolet;
}

.invoer-veld input:focus + .labelAnimation::after, .invoer-veld input:valid + .labelAnimation::after{
    width: 100%;
}

/*createAccount2 Styling*/
