*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    margin: 0 33px;
}

legend {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 5rem 0 1rem;
}

fieldset {
    border: none;
    height: 100vh;
}

p{
    text-align: center;
    margin: 0 3rem;
    color: #C4C4C4;
}

.give-acces-button{
    display: block;
    margin: 6rem auto 0;
    border: 2px #FF9678 solid;
    background-color: white;
    border-radius: 20px;
    color: #FF9678;
    padding: 15px 60px;
}

.no-acces-button{
    display: block;
    margin: 1rem auto 3rem;
    color: #C4C4C4;
    background-color: white;
    border: none;
    border-bottom: 1.5px #C4C4C4 solid;
}

a.wachtwoordVergeten{
    text-align: center;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: smaller;
}

.create-account-span{
    width: 100%;
}

.create-account-a{
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

.invoer-veld{
    width: 80%;
    position: relative;
    height: 50px;
    margin: 2rem;
    overflow: hidden; /*Alles dat buiten het element staat wordt niet weergeven, dit is voor de lijn aan de onderkant*/
}

.invoer-veld input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
}

.invoer-veld .labelAnimation{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none; /* zo staat de label niet voor de input*/
    border-bottom: 1px solid black;
}

/*After kan niet worden gebruikt op de input, omdat je hier geen content aan kan toevoegen*/
.invoer-veld .labelAnimation::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blueviolet;
    width: 0%;
    transition: all 0.3s ease;
}

.spanAnimation{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

/*Elke keer wanneer je focust op de input wordt deze stijl toegepast aan label dankzij de +*/
.invoer-veld input:focus + .labelAnimation .spanAnimation, .invoer-veld input:valid + .labelAnimation .spanAnimation{
    transform: translateY(-100%);
    font-size: 14px;
    color: blueviolet;
}

.invoer-veld input:focus + .labelAnimation::after, .invoer-veld input:valid + .labelAnimation::after{
    width: 100%;
}
