<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add.ejs</title>
</head>

<body>
    <h1>Add a new movie</h1>
    <form action=/ method=post>
        <label>Title <input name=title></label>
        <label>
            Plot (short)
            <input name=plot>
        </label>
        <label>
            Description (long)
            <textarea name=description rows=5></textarea>
        </label>
        <button>Add</button>
    </form>
    </form>
</body>

</html>