<form action="/" method="POST">

    <label for="username">
        <input type="text" name="username">
    </label>

    <label for="password">Description
        <input type="text" name="password">
    </label>
    <button>Add</button>
</form>