<form action="/" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="">
        <input type="text" name="plot">
    </label>

    <label for="">Description
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </label>
    <button>Add</button>
</form>