<form action="/" method="POST">

    <label for="username">username
        <input type="text" name="username">
    </label>

    <label for="password">password
        <input type="text" name="password">
    </label>
    <input type="submit">
</form>