<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welcome <%= user.username %>!</h1>
    <h2>Account info</h2>
    <ul>
        <li>Username: <%= user.username %></li>
        <li>Email: <%= user.email %></li>
        <li>Password: <%= user.password %></li>
    </ul>
    <a href="/login">Back</a>
    
</body>
</html>