<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">
            <input type="text" name="username" placeholder="username" required>
        </label>
        <label for="email">
            <input type="email" name="email" placeholder="email" required>
        </label>
        <label for="password">
            <input type="password" name="password" placeholder="password" required>
        </label>
        <input type="submit">
    </form>
    <a href="/login">Login</a>
</body>
</html>