<!doctype html>
<title>Movies - My movie website</title>
<h1>Movies</h1>
<% for (let i = 0; i < data.length; i++) { %>
  <h2>
    <a href="/<%= data[i].id %>">
      <%= data[i].username %>
    </a>
  </h2>
  <p><%= data[i].password %></p>
<% } %>
